<div class="clients-main-container">
    <div id="nav-icon" ng-class="{ 'open': isActive }" ng-click="activeButton()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <nav-bar-directive class="nav" ng-class="{ 'nav-display': isActive }"></nav-bar-directive>
    </div>

    <div class="animated fadeInUpBig title-wrapper">
        <h2>CLIENTS</h2>
        <div class="animated fadeInDownBig clients-underline"></div>
    </div>



    <div class="clients-search-bar">
        <input class="animated fadeInRightBig"placeholder="Search Name" ng-model="filter.name" />
        <input class="animated fadeInUpBig" placeholder="Search Phone" ng-model="filter.phone" />
        <input class="animated fadeInLeftBig" placeholder="Search Num. of Weeks" ng-model="filter.number" />
    </div>


    <div class="clients-card-container">
        <ul class="animated fadeInDownBig"ng-repeat="client in clients | filter: filter">
            <li><span class="span">Name:</span> {{client.name}}</li><br>
            <li><span class="span">Phone:</span> {{client.phone}}</li><br>
            <li><span class="span">Number of Weeks:</span> {{client.number}}</li><br>
            <input type="text" placeholder="Edit Name" ng-model="updatedClient.name" />
            <input type="number" placeholder="Edit Phone" ng-model="updatedClient.phone" />
            <input type="number" placeholder="Edit Num. of Weeks" ng-model="updatedClient.number" /><br><br>
            <div class="clients-button-container">
              <button ng-click="updateClient(client._id, updatedClient)" name="button">Save Changes</button>
              <button ng-click="deleteClient(client._id)">Delete Client</button><br><br><br
            </div>
        </ul>
    </div>


</div>
