<div class="default-message-main-container">
    <div id="nav-icon" ng-class="{ 'open': isActive }" ng-click="activeButton()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <nav-bar-directive class="nav" ng-class="{ 'nav-display': isActive }"></nav-bar-directive>
    </div>

    <div class="animated fadeInDown title-wrapper">
        <h2>Default Promotion</h2>
        <div class="default-message-underline"></div>
    </div>



    <div class="default-message-textarea-container">
      <textarea ng-model="newMessage" placeholder="Write Message Here" rows="13" cols="56"></textarea><br></br>
      <button ng-click="createDefaultMessage()">Save</button>
      <div class="textarea-underline"></div>
    </div>


    <div class="default-message-card-container">
      <ul class="animated fadeInUpBig"ng-repeat="message in defaultMessage">
        <div class="default-message-specifier" ng-if="message._id === user.defaultMessage">
            <u>Default Promotion</u>
        </div><br>
        <li><span><u>Message</u>:</span>{{message.message}}</li><br>
        <input type="text" placeholder="Edit Message" ng-model="updatedMessage.message"/><br><br>
        <button ng-click="updateMessage(message._id, updatedMessage)" name="button">Save Changes</button>
        <button ng-click="deleteMessage(message._id)">Delete Message</button>
        <button ng-click="makeDefault(message._id)">Make Default</button>
      </ul>
    </div>


</div>
