<div class="login-main-container">

    <div class="login-block-container fadeInRightBig">
        <div class="login-h1-container">
            <h1>Promo Cue</h1>
        </div>

        <div class="login-underline"></div>

        <form ng-submit="login(user)" class="login-login">
            <input placeholder="Email" type="email" ng-model="user.email" required />
            <input placeholder="Password" type="password" ng-model="user.password" required />
            <button type="submit">Login</button>
            <button ui-sref="register">Create an Account</button>
        </form>
    </div>

</div>
