<div class="login-main-container">

    <div class="login-block-container">
        <div class="login-h1-container animated fadeInRightBig">
            <h1>Promo Cue</h1>
        </div>

        <div class="login-underline animated fadeInUpBig"></div>

        <form ng-submit="login(user)" class="login-login">
            <input class="email animated fadeInLeftBig" placeholder="Email" type="email" ng-model="user.email" required />
            <input class="password animated fadeInDownBig" placeholder="Password" type="password" ng-model="user.password" required />
            <button class="animated fadeInRightBig" type="submit">Login</button>
            <button class="animated fadeInUpBig" ui-sref="register">Create Account</button>
        </form>
    </div>

</div>
