<div class="register-main-container">

    <div class="register-block-container">
        <div class="register-h1-container animated fadeInRightBig">
            <h1>Create Account</h1>
        </div>

        <div class="register-underline animated fadeInUpBig"></div>

        <form ng-submit="register(newUser)" class="register-register">
            <input class="name animated pulse" placeholder="Name" ng-model="newUser.name" />
            <input class="email animated pulse" placeholder="Email" type="email" ng-model="newUser.email" required />
            <input class="password animated pulse" placeholder="Password" type="password" ng-model="newUser.password" required />
            <button class="animated fadeInLeftBig" type="submit">Submit</button>
        </form>
    </div>

</div>
