.csv-main-container
  height: 100vh
  width: 100%
  .csv-block-container
    height: 100%
    width: 40%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    margin: 0 auto
    .title-wrapper
      width: 600px
      margin: 0 auto
      h2
        color: black
        font-size: 80px
        text-shadow: .04em .04em .1em rgba(0, 0, 0, 1)
        text-align: center
      .csv-underline
        height: .75vh
        width: 100%
        background-color: black
        margin-top: 10px
        box-shadow: .1em .1em .5em rgba(0, 0, 0, 1)
    button
      height: 30px
      width: 140px
      // border: 1.5px solid black
      border-radius: 6px
      color: black
      box-shadow: 0 0 .2em rgba(0, 0, 0, 1)
      transition: .4s
      // margin-top: -50px
      margin-bottom: -50px
    button:hover
      box-shadow: 0 0 .4em rgba(0, 0, 0, 1)
      transition: .4s
    .progress-bar
      margin-bottom: 700px
