@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)

*
  font-family: 'Montserrat', sans-serif

.login-main-container
  height: 100vh
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  background-color: black
  padding-top: 15px

.login-h1-container
  height: 13vh
  width: 100%
  background: black
  display: flex
  justify-content: center
  align-items: center
  h1
    color: white
    font-size: 80px

.login-underline
  height: .75vh
  width: 550px
  background-color: white
  margin: 0 auto

.login-block-container
  height: 100vh
  width: 100%

.login-login
  height: 84.25vh
  width: 100%
  background: black
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  float: left
  transition: .4
  h2
    color: white
    font-size: 60px
  button
    color: white
    font-size: 60px
    background: none
    cursor: pointer
  input
    height: 7vh
    width: 400px
    border-radius: 2px
    font-size: 30px

.email:hover
  text-align: center
  transition: .7s

.password:hover
  text-align: center
  transition: .7s


.login-h1-container
  @media(max-width: 575px)
    h1
      font-size: 70px
.login-underline
  @media(max-width: 575px)
    width: 400px
.login-login
  @media(max-width: 575px)
    input
      height: 7vh
      width: 300px
      font-size: 25px
    button
      font-size: 50px


.login-h1-container
  @media(max-width: 425px)
    h1
      font-size: 60px
.login-underline
  @media(max-width: 425px)
    width: 300px
.login-login
  @media(max-width: 425px)
    input
      height: 7vh
      width: 200px
      font-size: 20px
    button
      font-size: 40px
